## connect

In [1]:
import pandas as pd
import sqlite3

/Users/a19028558/Desktop/transfer_accounts/akovyaz/learning_myself/env_school/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
connect = sqlite3.connect('../data/checking-logs.sqlite')

## A/B

In [3]:
a_test = pd.io.sql.read_sql(
    """select 'before' as mode, avg(deadlines - cast(strftime('%s', first_commit_ts) as int))/3600 as time from test inner join
     (select uid from test where first_commit_ts > first_view_ts) as test_before on test.uid = test_before.uid inner join deadlines on test.labname = deadlines.labs
     where test.labname != 'project1' and test.first_commit_ts < test.first_view_ts
     union
     select 'after' as mode, avg(deadlines - cast(strftime('%s', first_commit_ts) as int))/3600 as time from test inner join
     (select uid from test where first_commit_ts < first_view_ts) as test_before on test.uid = test_before.uid inner join deadlines on test.labname = deadlines.labs
     where test.labname != 'project1' and test.first_commit_ts > test.first_view_ts;""",
    con=connect)
a_test

     mode        time
0   after  110.513122
1  before   62.048824

In [4]:
b_test = pd.io.sql.read_sql(
    """select 'before' as mode, avg(deadlines - cast(strftime('%s', first_commit_ts) as int))/3600 as time from control inner join
     (select uid from test where first_commit_ts > first_view_ts) as test_before on control.uid = test_before.uid inner join deadlines on control.labname = deadlines.labs
     where control.labname != 'project1' and control.first_commit_ts < control.first_view_ts
     union
     select 'after' as mode, avg(deadlines - cast(strftime('%s', first_commit_ts) as int))/3600 as time from control inner join
     (select uid from control where first_commit_ts < first_view_ts) as test_before on control.uid = test_before.uid inner join deadlines on control.labname = deadlines.labs
     where control.labname != 'project1' and control.first_commit_ts > control.first_view_ts;""",
    con=connect)
b_test

     mode        time
0   after  124.595972
1  before         NaN

## close connect

In [5]:
connect.close()

## Answer

_Yes_